* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #463e8e;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fee3e1;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  color: #fee7cd;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem
}

h1 {
  color: #5b3372;
  margin-bottom: 1rem;
}

p {
  color: #5b3372;
  margin-bottom: 1rem;
}

a {
  color: #463e8e;
}

a:hover {
  color: #aedae2;
}

footer {
  background-color: #fee3e1;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
